<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcul Mental</title>
</head>

<body>
    <h1>Calcul Mental</h1>
    <p>Calculez la somme de ces chiffres : <%= listenbr %></p>
    <p>
        <%= result %>
    </p>

    <p>Timer</p>
    <p>
        <%= timer %>
    </p>

    <form action='' , method="post">
        <input type="number" placeholder="Votre réponse" />
        <button type ='submit'>Envoyer</button>
    </form>

</body>

</html>